{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CarPredictor Pro+</title>
    <link rel="shortcut icon" href="http://www.pngmart.com/files/4/Car-Transparent-Background.png" type="shortcut icon">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js" defer></script>
</head>
<style>
    input::-webkit-input-placeholder {
        color: black !important;
    }

    input::-moz-placeholder {
        color: black !important;
    }

    input:-ms-input-placeholder {
        color: black !important;
    }
</style>

<body class="grey lighten-1">
    {% block body %} {% endblock body %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".sidenav").sidenav();
        });
        $(document).ready(function () {
            $('select').formSelect();
        });
    </script>
</body>

</html>