{% extends 'base.html' %} {% block body %}
<div class="navbar-fixed">
    <nav class="z-depth-2">
        <div class="nav-wrapper grey darken-3">
            <span class="brand-logo" style="margin-left: 12px">Buy-a-Ride</span>
            <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="{% url 'post-vehicle' %}">Post a ride</a></li>
                <li><a href="{% url 'receipt' %}">Back</a></li>
            </ul>
        </div>
    </nav>
</div>

<ul class="sidenav" id="mobile-nav">
    <li><a href="{% url 'post-vehicle' %}">Post a ride</a></li>
    <li><a href="{% url 'receipt' %}">Back</a></li>
</ul>

<div class="container">
    <h1>{{ read_receipt.name }}</h1>
</div>

{% endblock body %}